.advantageCard {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-width: 200px;
    height: 250px;
    width: 100%;
}

.advantageCard img {
    width: 70px;
    height: 70px;
}